@use '../../utils/variables' as *;

.advantages-section {
  padding: 210px 0 190px 0;

  @media screen and (max-width: $bp-desktop) {
    padding: 120px 0 40px 0;
  }

  @media screen and (max-width: $bp-tablet) {
    padding-top: 60px;
  }

  @media screen and (max-width: $bp-mobile) {
    padding: 40px 0 20px 0;
  }

  &__list {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-shrink: 0;

    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
    }

    @media screen and (max-width: $bp-mobile) {
      gap: 14px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;

    @media screen and (max-width: $bp-tablet) {
      flex-direction: row;
      margin-bottom: 0;
      justify-content: center;
    }
  }

  &__inform {
    max-width: 300px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: var(--color-white-eb);
    width: 260px;
    height: 260px;

    @media screen and (max-width: $bp-desktop) {
      width: 160px;
      height: 160px;
      flex-shrink: 0;
    }

    @media screen and (max-width: $bp-tablet) {
      width: 120px;
      height: 120px;
    }

    @media screen and (max-width: $bp-mobile) {
      width: 80px;
      height: 80px;
    }
  }

  &__image {
    width: 150px;
    height: 121px;

    @media screen and (max-width: $bp-desktop) {
      width: 110px;
    }

    @media screen and (max-width: $bp-tablet) {
      width: 60px;
    }

    @media screen and (max-width: $bp-mobile) {
      width: 40px;
    }
  }

  &__title {
    @media screen and (max-width: $bp-desktop) {
      font-size: 44px;
      margin-bottom: 24px;
    }

    @media screen and (max-width: $bp-tablet) {
      font-size: 34px;
      margin-bottom: 16px;
    }

    @media screen and (max-width: $bp-mobile) {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }
}
