.blogers-section {
  padding: 130px 0 100px 0;

  &__list {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }

  &__inform {
    display: flex;
    color: var(--color-brand-normal);
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 48px;

    li:not(:first-child) {
      list-style-type: disc;
    }
  }

  &__text {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__item {
    margin-bottom: 68px;
    position: relative;
  }

  &__comment {
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 4px dashed var(--color-black);
  }

  &__link {
    gap: 40px;
    font-size: 24px;
    margin-top: 46px;

    &:hover {
      color: var(--color-brand-normal);
    }
  }

  &__arrow {
    fill: var(--color-brand-normal);

    &:hover {
      fill: var(--color-brand-normal);
    }
  }
}
