@use '../../utils/variables' as *;

.blog-section {
  padding: 130px 0 100px 0;

  @media screen and (max-width: $bp-desktop) {
    padding-top: 80px;
  }

  @media screen and (max-width: $bp-tablet) {
    padding: 40px 0;
  }

  &__list {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    @media screen and (max-width: $bp-mobile) {
      gap: 40px;
      flex-direction: column;
    }
  }
}
