.menu-section {
  padding: 175px 0 220px 0;
  background-image: url('../images/home-menu-branch.png');
  background-repeat: no-repeat;
  background-position: right top;

  &__title {
    margin-bottom: 158px;
  }
}
