@use '../../utils/variables' as *;

.menu-section {
  padding: 175px 0 220px 0;
  background-image: url('../images/home-menu-branch.png');
  background-repeat: no-repeat;
  background-position: right top;

  @media screen and (max-width: $bp-desktop) {
    padding: 100px 0 60px 0;
  }

  @media screen and (max-width: $bp-tablet) {
    background-size: 520px 580px;
    padding: 62px 0 40px 0;
  }

  @media screen and (max-width: $bp-mobile) {
    background-size: 320px 380px;
    padding: 42px 0 20px 0;
  }

  &__title {
    margin-bottom: 158px;

    @media screen and (max-width: $bp-desktop) {
      margin-bottom: 58px;
    }

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 28px;
    }
  }
}
