@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-weight: 400;
  src: url('../fonts/lato-v25-latin-regular.woff2') format('woff2');
}
// Додати шрифти

@font-face {
  font-display: swap;
  font-family: 'Rufina';
  font-weight: 700;
  src: url('../fonts/rufina-v17-latin-700.woff2') format('woff2');
}
