@use '../utils/variables' as *;

.text-title {
  font-size: 148px;
  line-height: 1;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;

  @media screen and (max-width: $bp-desktop) {
    font-size: 98px;
  }

  @media screen and (max-width: $bp-tablet) {
    font-size: 54px;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 36px;
  }
}

.text-normal {
  font-size: 32px;

  @media screen and (max-width: $bp-tablet) {
    font-size: 20px;
  }
}

.text-topic {
  font-size: 108px;

  @media screen and (max-width: $bp-tablet) {
    font-size: 88px;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 48px;
  }
}

.text-big {
  font-size: 68px;

  @media screen and (max-width: $bp-desktop) {
    font-size: 54px;
  }

  @media screen and (max-width: $bp-tablet) {
    font-size: 44px;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 34px;
  }
}

.text-medium {
  font-size: 32px;

  @media screen and (max-width: $bp-tablet) {
    font-size: 16px;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 14px;
  }
}

.text-small {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 24px;

  @media screen and (max-width: $bp-desktop) {
    font-size: 20px;
  }

  @media screen and (max-width: $bp-tablet) {
    font-size: 16px;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 12px;
  }
}

.text-limited {
  max-width: 565px;

  @media screen and (max-width: $bp-desktop) {
    max-width: 420px;
  }

  @media screen and (max-width: $bp-tablet) {
    max-width: 300px;
  }

  @media screen and (max-width: $bp-mobile) {
    max-width: 250px;
  }
}

.text-centered {
  text-align: center;
}
