:root {
  --color-black: #000000;
  --color-brand-light: #9caa00;
  --color-brand-normal: #5e6600;
  --color-brand-dark: #233000;
  --color-grey: #4d4d4d;
  --color-white-f: #ffffff;
  --color-light-grey: #b0b0b0;
  --color-white-eb: #ebf0e4;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
