.about-hero-section {
  background-image: url('../images/about-hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color-white-f);
  padding: 410px 0 370px 0;
}
