.people-section {
  padding: 165px 0 305px 0;
}

.people-container {
  display: flex;
  gap: 100px;
}

.manager-text {
  padding-top: 322px;
  max-width: 510px;
}

.chef-text {
  display: flex;
  align-items: flex-end;
}
