.process-section {
  padding: 270px 0 320px 0;
}

.process-item {
  font-size: 88px;
  margin-bottom: 28px;
}

.slice-container {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  margin-bottom: 120px;
}

.slice-text {
  max-width: 615px;
  align-content: center;
}

.process-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.bake-item {
  max-width: 650px;
  margin-top: 155px;
}

.pickled-item {
  margin-bottom: 96px;
  max-width: 430px;
}
