@use '../../utils/variables' as *;

.story-section {
  padding: 220px 0 115px 0;
  background-image: url('../images/about-tomato-background.png');
  background-repeat: no-repeat;
  background-position: center 94px;

  @media screen and (max-width: $bp-desktop) {
    padding: 170px 0 100px 0;
    background-size: 300px;
  }

  @media screen and (max-width: $bp-tablet) {
    padding: 108px 0 88px 0;
    background-size: 214px;
    background-position: center 14px;
  }

  @media screen and (max-width: $bp-mobile) {
    padding: 80px 0 56px 0;
    background-size: 128px;
    background-position: left 24px;
  }

  &__image {
    display: flex;
    flex-shrink: 1;
    min-width: 0;
    max-width: 100%;
    object-fit: cover;
  }

  &__info {
    max-width: 665px;
    align-content: flex-end;
    margin-bottom: 94px;

    @media screen and (max-width: $bp-mobile) {
      margin-bottom: 16px;
    }
  }

  &__container {
    display: flex;
    gap: 40px;
    justify-content: space-between;

    @media screen and (max-width: $bp-tablet) {
      gap: 8px;
    }

    @media screen and (max-width: $bp-mobile) {
      flex-direction: column;
    }
  }
}
