.drinks-section {
  padding: 190px 0 210px 0;
  background-image: url('../images/background-avocado.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 350px 415px;
}

.drinks-inform {
  margin-bottom: 160px;
}
