.starters-section {
  padding: 120px 0 140px 0;
  background-image: url('../images/starters-bluebbery.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 515px 440px;

  &__inform {
    margin-bottom: 80px;
  }
}
