@use '../../utils/variables' as *;
.contact-section {
  background-image: url('../images/contact-orange-background.png');
  background-repeat: no-repeat;
  background-position: center 152px;
  background-size: 325px 270px;
  font-size: 32px;
  color: var(--color-brand-dark);
  padding: 272px 0 135px 0;

  @media screen and (max-width: $bp-desktop) {
    background-size: 258px 228px;
    background-position: center 80px;
    font-size: 28px;
    padding: 200px 0 120px 0;
  }

  @media screen and (max-width: $bp-tablet) {
    font-size: 20px;
    background-size: 154px 140px;
    padding: 100px 0 80px 0;
    background-position: center 40px;
  }

  @media screen and (max-width: $bp-mobile) {
    background-position: center 16px;
    background-size: 114px 90px;
    font-size: 16px;
    padding: 90px 0 60px 0;
  }

  &__address {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 145px;

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 110px;
    }

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 62px;
    }

    @media screen and (max-width: $bp-mobile) {
      margin-bottom: 46px;
      gap: 20px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: flex-end;
      margin-bottom: 80px;
      align-items: center;
      text-align: center;

      &--distance {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    color: var(--color-brand-normal);
  }

  &__map {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @media screen and (max-width: $bp-mobile) {
      gap: 20px;
    }

    &-link {
      color: var(--color-black);
      font-family: Rufina, sans-serif;
    }

    &-info {
      max-width: 744px;
      align-content: flex-end;
      margin-bottom: 325px;

      @media screen and (max-width: $bp-desktop) {
        margin-bottom: 0;
        align-content: center;
        flex-basis: 70%;
      }
      @media screen and (max-width: $bp-tablet) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      @media screen and (max-width: $bp-mobile) {
        margin-bottom: 16px;
      }
    }

    &-text {
      margin-bottom: 55px;
      @media screen and (max-width: $bp-tablet) {
        margin-bottom: 24px;
      }
    }
  }
}

.map-button {
  color: var(--color-black);

  @media screen and (max-width: $bp-mobile) {
    padding: 9px;
    font-size: 14px;
  }

  &:hover {
    color: var(--color-white-f);
    background-color: var(--color-brand-dark);

    & .contact-section__map-link {
      color: var(--color-white-f);
    }
  }
}
