.hero-contact-section {
  background-image: url('../images/contact-hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 415px 0 130px 0;
  color: var(--color-white-f);

  &__description {
    margin-bottom: 93px;
  }
}

.work-schedule {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 695px;

  &__text {
    font-size: 32px;
  }

  &__days {
    display: flex;
    font-weight: 400;
    font-size: 24px;
    border-bottom: 2px dashed var(--color-white-f);
    padding: 38px 0;
    margin-bottom: 38px;
    justify-content: space-between;
    align-items: center;
  }
}

.schedule-text {
  display: flex;
  gap: 20px;
  font-size: 24px;
  justify-content: space-between;

  &__hours {
    max-width: 142px;
  }
}
