.contact-hero-section {
  background-image: url('../images/contact-hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 415px 0 130px 0;
}

.hero-description {
  margin-bottom: 93px;
}

.work-schedule {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 695px;
}

.open-text {
  font-size: 32px;
}

.open-days {
  display: flex;
  font-weight: 400;
  font-size: 24px;
  border-bottom: 2px dashed var(--color-white-f);
  padding: 38px 0;
  margin-bottom: 38px;
  justify-content: space-between;
  align-items: center;
}

.schedule-text {
  display: flex;
  gap: 20px;
  font-size: 24px;
  justify-content: space-between;
}

.schedule-hours {
  max-width: 142px;
}
