@use '../utils/variables' as *;

.address {
  &__social {
    display: flex;
    gap: 28px;
    justify-content: flex-end;

    @media screen and (max-width: $bp-desktop) {
      justify-content: center;
    }
  }

  &__icon {
    fill: var(--color-white-f);
    width: 28px;
    height: 28px;
    transition:
      transform 0.2s,
      fill 0.2s;

    &:hover {
      fill: var(--color-brand-light);
      transform: scale(1.2);
    }

    @media screen and (max-width: $bp-mobile) {
      width: 24px;
      height: 24px;
    }
  }

  &__contacts {
    max-width: 210px;
    font-family: Lato, sans-serif;

    @media screen and (max-width: $bp-tablet) {
      font-size: 32px;
      line-height: 1.5;
    }

    @media screen and (max-width: $bp-mobile) {
      font-size: 24px;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s;
    color: var(--color-white-f);

    &:hover {
      color: var(--color-brand-light);
    }
  }
}
