@use '../utils/variables' as *;

.blog-card {
  &__item {
    margin-bottom: 68px;
    position: relative;

    @media screen and (max-width: $bp-desktop) {
      margin-bottom: 28px;
    }

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 8px;
    }
  }

  &__image {
    display: flex;
    flex-shrink: 1;
    min-width: 0;
    max-width: 100%;
  }

  &__inform {
    display: flex;
    color: var(--color-brand-normal);
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 48px;

    @media screen and (max-width: $bp-desktop) {
      margin-bottom: 24px;
    }

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 0;
    }

    li:not(:first-child) {
      list-style-type: disc;
    }
  }

  &__photo {
    width: 84px;

    @media screen and (max-width: $bp-tablet) {
      width: 54px;
    }

    @media screen and (max-width: $bp-mobile) {
      width: 44px;
    }
  }

  &__text {
    display: flex;
    gap: 32px;
    align-items: center;

    &--hidden {
      @media screen and (max-width: $bp-desktop) {
        display: none;
      }
    }

    &--hidden-late {
      @media screen and (max-width: $bp-tablet) {
        display: none;
      }
    }

    &--distance {
      @media screen and (max-width: $bp-tablet) {
        margin: 0;
      }
    }
  }

  &__comment {
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 4px dashed var(--color-black);

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-bottom: 2px dashed var(--color-black);
    }
  }

  &__link {
    gap: 40px;
    font-size: 24px;
    margin-top: 46px;
    color: var(--color-black);

    &:hover {
      color: var(--color-brand-normal);
    }
  }

  &__arrow {
    width: 48px;
    height: 24px;
    fill: var(--color-brand-normal);

    @media screen and (max-width: $bp-tablet) {
      width: 28px;
      height: 14px;
    }

    &:hover {
      fill: var(--color-brand-normal);
    }
  }
}
