.dish {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  &__item {
    flex-basis: calc((100% - 60px) / 2);
  }

  &__price {
    border-bottom: 4px dashed var(--color-black);
    text-align: right;
  }

  &__distance {
    margin-bottom: 24px;
  }
}
