@use '../utils/variables' as *;

.section {
  &__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__title {
    font-size: 108px;
    margin-bottom: 18px;

    @media screen and (max-width: $bp-tablet) {
      font-size: 84px;
    }

    @media screen and (max-width: $bp-mobile) {
      font-size: 52px;
    }
  }

  &__image {
    display: flex;
    flex-shrink: 2;
    min-width: 0;
    max-width: 100%;
    object-fit: cover;

    @media screen and (max-width: $bp-mobile) {
      max-height: 410px;
    }
  }
}
